<ion-header class="header-shadow-none" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-logo"></div>
    <ion-buttons class="header-icon" slot="end">
      <div class="header-notification">
        <div class="header-badge"></div>
        <ion-icon name="notifications"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-profile></app-profile>
  <div id="container">
    <app-content-list></app-content-list>
    <app-program-list></app-program-list>
    <app-additional-content-list></app-additional-content-list>
  </div>
</ion-content>
