ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 28%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.header-notification {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  ion-icon {
    color: #80480e;
  }
}

.header-badge {
  height: 0.75rem;
  width: 0.75rem;
  background: #7becd1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.header-icon {
  margin-right: 16px;
}

.header-shadow-none {
  box-shadow: unset;
}

.container-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: url("../../assets/icon/user.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.container-list-card {
  flex: 0 0 auto;
  width: 220px;
  margin-right: 10px;
  scroll-snap-align: start;
  padding: 20px;
  height: 115px;
  background: url("../../assets/icon/bodybuilding.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-icon {
    border: 1px #dcdcdc solid;
    border-radius: 50%;
    padding: 2.5px;
    margin-right: 5px;
  }
  span {
    width: 50px;
    text-align: left;
  }
}

ion-menu-button {
  color: white;
}

.header-logo {
  height: 48px;
  width: 100%;
  background-image: url("../../assets/icon/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
