.container-opacity {
  opacity: 0.4;
}

.invisible {
  display: none;
}

.container-carrousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.container-list-card {
  flex: 0 0 auto;
  width: 220px;
  margin-right: 10px;
  scroll-snap-align: start;
  padding: 20px;
  height: 115px;
  background: url("../../../assets/icon/bodybuilding.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-icon {
    border: 1px #dcdcdc solid;
    border-radius: 50%;
    padding: 2.5px;
    margin-right: 5px;
  }
  span {
    width: 50px;
    text-align: left;
  }
}

.container-quadrant {
  background-color: #80480e;
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.quadrant {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.secondary {
  justify-content: flex-end !important;
  flex-direction: column;
}

.secondary-title {
  color: #80480e;
  font-size: 12px;
}

.secondary-subtitle {
  font-size: 14px;
}

.container-list-tertiary {
  padding: 20px 30px 0;
}

.container-training {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  ion-icon {
    border: 1px #80480e solid;
    border-radius: 50%;
    padding: 2.5px;
    margin-left: 5px;
    color: #80480e;
  }
}
