<div class="container-list-secondary">
  <div class="container-training">
    <span class="container-title">PROGRAMAS</span>
    <div class="container-badge">
      <span class="container-title-badge">Novo</span>
    </div>
  </div>
  <div class="container-carrousel">
    <div *ngFor="let item of [1, 2, 3]" class="container-list-card secondary">
      <span class="secondary-title">continuar treinando</span>
      <span class="secondary-subtitle">LEVANTAMENTO DE PESO</span>
    </div>
  </div>
</div>
