<div class="container-profile">
  <div class="container-primary">
    <div class="container-photo"></div>
    <div class="container-description">
      <span class="container-profile-name">Leonardo Santos</span>
      <span class="container-profile-level">Nível roxo</span>
    </div>
  </div>
  <div class="container-secondary">
    <div>
      <ion-icon name="accessibility"></ion-icon>
      <span>MEU CORPO</span>
    </div>
    <div>
      <ion-icon name="trophy"></ion-icon>
      <span>OBJETIVOS E CONQUISTAS</span>
    </div>
  </div>
  <div></div>
</div>
